<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zarządzanie serwisem</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/it.css}"/>
</head>
<body>
    <header>
        <div class="container">
            <h1>Zarządzanie serwisem</h1>
        </div>
    </header>
    <section class="content">
        <br>
        <section class="functions-section">
            <div class="container">
                <br>
                <button id="databaseButton" class="btn">Baza danych</button>
                <button id="accountGeneratorButton" class="btn">Generowanie kont</button>
            </div>
        </section>
    
    <section id="contentContainer" class="container">

    </section>
    <br>
    <div id="buttonsContainer"></div>
</section>
    <footer>
        <div class="container">
            <p><a href="../index.html" class="btn">Wyloguj</a></p>
        </div>
    </footer>
    <script src="scripts/management.js" defer></script>
</body>
</html>
