<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pracownik</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/emp.css}"/>
</head>
<body>
    <header>
        <div class="container">
            <h1>Witaj Jan Andrzej Kowalski!</h1>
        </div>
    </header>
    <section class="content">
    <section class="employee-section">
        <div class="container">
            <h2>Dane osobowe:</h2>
            <p>Imię: Jan</p>
            <p>Dugie imię: Andrzej</p>
            <p>Nazwisko: Kowalski</p>
            <p>Email: jan.kowalski@example.com</p>
            <p>Data urodzenia: 1970-01-01</p>
            <p>Pesel: 702198342</p>
            <p>Stanowisko: Pracownik</p>
            <p>Dostępne dni urlopu: 10</p>
            <p>Wielkość wynagrodzenia brutto: 8000 zł/msc</p>
        </div>
    </section>

    <section class="functions-section">
        <div class="container">
            <br>
            <button id="vacButton" class="btn">Złóż wniosek</button>
            <button id="editButton" class="btn">Edytuj dane osobowe</button>
        </div>
    </section>
</section>
    <footer>
        <div class="container">
            <p><a href="../index.html" class="btn">Wyloguj</a></p>
        </div>
    </footer>
    <script src="scripts/edit_emp_data.js" defer></script>
</body>
</html>
