<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pracownik</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/emp.css}"/>
</head>
<body>
    <header>
        <div class="container">
        </div>
    </header>
    <section class="content">
        <br>
        <h1>Witaj <span th:text="${currentUser.firstName}"></span> <span th:text="${currentUser.secondName}"></span> <span th:text="${currentUser.lastName}"></span>!</h1>
        <br>
        <h2>Dane osobowe:</h2>
        <br>
        <section class="employee-section">
            <div class="container">
                <table class="employee-table">
                    <tr>
                        <td>Imię:</td>
                        <td><span th:text="${currentUser.firstName}"></span></td>
                    </tr>
                    <tr>
                        <td>Drugie imię:</td>
                        <td><span th:text="${currentUser.secondName}"></span></td>
                    </tr>
                    <tr>
                        <td>Nazwisko:</td>
                        <td><span th:text="${currentUser.lastName}"></span></td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td><span th:text="${currentUser.login}"></span></td>
                    </tr>
                    <tr>
                        <td>Data urodzenia:</td>
                        <td><span th:text="${currentUser.birthDate}"></span></td>
                    </tr>
                    <tr>
                        <td>Pesel:</td>
                        <td><span th:text="${currentUser.pesel}"></span></td>
                    </tr>
                    <tr>
                        <td>Rola:</td>
                        <td><span th:text="${currentUser.role}"></span></td>
                    </tr>
                </table>
            </div>
        </section>

        <section class="functions-section">
            <div class="container">
                <br>


                <form th:action="${currentUser.employeeId}" method="get" >
                    <button id="editButton" type="submit" class ="btn"> Edytuj dane osbowe</button>
                </form>

            </div>

            <div class="container">
                <br>


                <form th:action="@{vacation-request}" method="get" >
                    <button id="vacationButton" type="submit" class ="btn"> Złóż wniosek o urlop</button>
                </form>

            </div>

            <div class="container">
                <br>


                <form th:action="@{vacation/} + ${currentUser.employeeId}" method="get" >
                    <button id="vacationListButton" type="submit" class ="btn"> Wyswietl urlopy</button>
                </form>

            </div>
        </section>
    </section>
    <footer>
        <div class="container">
            <p><a th:href="@{~/auth/logout}" class="btn">Wyloguj</a></p>
        </div>
    </footer>

</body>
</html>