<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/emp.css}"/>
    <title>Złożono wniosek pomyślnie</title>
</head>
<body>
<header>
    <div class="container">
    </div>
</header>
<section class="content">
    <br>
    <h1>Złożono wniosek pomyślnie</h1>
    <br>
    <br>
<div class="container">
    <br>


    <form th:action="@{http://localhost:8080/employee/}" method="get" >
        <button id="vacationButton" type="submit" class ="btn"> Powrót do menu</button>
    </form>

</div>
</section>
<footer>
    <div class="container">
        <p><a th:href="@{~/auth/logout}" class="btn">Wyloguj</a></p>
    </div>
</footer>
</body>
</html>