<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" th:href="@{/styles/emp.css}"/>
  <title>Success request</title>
</head>
<body>
<header>
  <div class="container">
  </div>
</header>
<section class="content">
<h1>Wszystkie urlopy:</h1>
  <br>
  <table class="vacations">
    <thead>
    <tr>
      <th>Początek</th>
      <th>Koniec</th>
      <th>Typ urlopu</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="vacation : ${vacations}">
      <td th:text="${vacation.beginning}"></td>
      <td th:text="${vacation.ending}"></td>
      <td th:text="${vacation.type}"></td>
    </tr>
    </tbody>
  </table>
  <br>
  <br>
  <form th:action="@{http://localhost:8080/employee/}" method="get" >
    <button id="vacationButton" type="submit" class ="btn"> Powrot do menu</button>
  </form>
</section>
<div class="container">
  <br>

</div>
<footer>
  <div class="container">
    <p><a th:href="@{~/auth/logout}" class="btn">Wyloguj</a></p>
  </div>
</footer>
</body>
</html>