<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" th:href="@{/styles/emp.css}"/>
  <title>Employee Form</title>
</head>
<body>
<header>
  <div class="container">
  </div>
</header>
<section class="content">
<h1>Wniosek o urlop</h1>
  <br>
<form th:action="@{http://localhost:8080/employee/vacationRequest/} + ${employee.employeeId}" th:object="${vacationRequestDTO}" method="post">
  <p>Początek urlopu: </p><input id="beginning" name="beginning" type="date"  /><br>
  <p>Koniec urlopu: </p><input id="ending" name="ending" type="date"  /><br>
  <p>Powód: </p><input id="type" name="type" type="text"  /><br>
  <br>
  <input type="submit" value="Prześlij" />
</form>
</section>
<footer>
  <div class="container">
    <p><a th:href="@{~/auth/logout}" class="btn">Wyloguj</a></p>
  </div>
</footer>
</body>
</html>
