<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warsztat Samochodowy</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/style.css}"/>
</head>
<body>
    <header>
        <div class="container">
            <h1>Warsztat samochodowy</h1>
        </div>
    </header>
    <section class="content">
    <section class="buttons-section">
        <div class="container">
            <br><br>
            <h2>Wybierz swoją rolę:</h2>
            <br>
            <div class="buttons">
                <a href="login/login_employee.html" class="btn">Zaloguj jako Pracownik warsztatu</a>
                <a href="login/login_hr.html" class="btn">Zaloguj jako Pracownik HR</a>
                <a href="login/login_it.html" class="btn">Zaloguj jako Specjalista IT</a>
            </div>
        </div>
    </section>
</section>
    <footer>
        <div class="container">
            <p></p>
        </div>
    </footer>
</body>
</html>
