<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista zleceń</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/hr.css}"/>
</head>
<body>
<header>
    <div class="container">
    </div>
</header>
<section class="content">
    <br>
<h1>Lista zleceń</h1>
    <br>
    <br>
    <div class="table-container">
<table class="employee-table">
    <thead>
    <tr>
        <th>ID zlecenia</th>
        <th>ID pracownika</th>
        <th>Imię pracownika</th>
        <th>Nazwisko pracownika</th>
        <th>ID klienta</th>
        <th>Imię klienta</th>
        <th>Nazwisko klienta</th>
        <th>Opis</th>
        <th>Data zatwierdzenia</th>
        <th>Koszt</th>
        <th>Status</th>
        <th>ID stanowiska</th>
        <th>Nazwa stanowiska</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="assignment : ${assignments}">
        <td th:text="${assignment.assignmentId}"></td>
        <td th:text="${assignment.employee.employeeId}"></td>
        <td th:text="${assignment.employee.firstName}"></td>
        <td th:text="${assignment.employee.lastName}"></td>
        <td th:text="${assignment.client.clientId}"></td>
        <td th:text="${assignment.client.firstName}"></td>
        <td th:text="${assignment.client.lastName}"></td>
        <td th:text="${assignment.description}"></td>
        <td th:text="${assignment.assignDate}"></td>
        <td th:text="${assignment.cost}"></td>
        <td th:text="${assignment.state}"></td>
        <td th:text="${assignment.workstation.id}"></td>
        <td th:text="${assignment.workstation.name}"></td>
    </tr>
    </tbody>
</table>
    </div>
    <br>

<form th:action="@{http://localhost:8080/hr/assignments/add}" method="get" >
    <button id="addAssignmentButton" type="submit" class ="btn"> Utwórz nowe zlecenie</button>
</form>

<br>
<form  th:action="@{http://localhost:8080/hr/assignments/status}" th:object="${AssignmentStatusDTO}" method="post">
    <label for="id">Id: </label><input id="id" name= "id" type="text"/><br>
    <label for="status">Status: </label><input id="status" name= "status" type="text"/><br>
    <p><input type="submit" class ="btn" value="Zmień status" />
</form>


<form th:action="@{http://localhost:8080/hr/}" method="get" >
    <button id="vacationButton" type="submit" class ="btn"> Powrot do menu</button>
</form>
</section>
<footer>
    <div class="container">
        <p><a th:href="@{~/auth/logout}" class="btn">Wyloguj</a></p>
    </div>
</footer>
</body>
</html>
