<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista klientów</title>
  <link rel="stylesheet" type="text/css" th:href="@{/styles/hr.css}"/>
</head>
<body>
<header>
  <div class="container">
  </div>
</header>
<section class="content">
  <br>
<h1>Lista klientów</h1>
  <br>
  <br>
<table class="employee-table">
  <thead>
  <tr>
    <th>ID</th>
    <th>Imię</th>
    <th>Drugie imię</th>
    <th>Nazwisko</th>
    <th>Email</th>
    <th>Nr telefonu</th>
    <th>Nr konta bankowego</th>
    <th>Akcja</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="client : ${clients}">
    <td th:text="${client.clientId}"></td>
    <td th:text="${client.firstName}"></td>
    <td th:text="${client.secondName}"></td>
    <td th:text="${client.lastName}"></td>
    <td th:text="${client.email}"></td>
    <td th:text="${client.phoneNumber}"></td>
    <td th:text="${client.bankAccount}"></td>
    <td>
        <form th:action="@{http://localhost:8080/hr/customers/remove}" th:object="${idDTO}" method="post">
            <input type="hidden" name="id" th:value="${client.clientId}" />
            <input class="btn" type="submit" value="Usun" />
        </form>
    </td>
  </tr>
  </tbody>
</table>
<br>

<form th:action="@{http://localhost:8080/hr/customers/add}" method="get" >
  <button id="addClientButton" type="submit" class ="btn"> Dodaj klienta</button>
</form>




<form th:action="@{http://localhost:8080/hr/}" method="get" >
  <button id="vacationButton" type="submit" class ="btn"> Powrot do menu</button>
</form>
</section>
<footer>
  <div class="container">
    <p><a th:href="@{~/auth/logout}" class="btn">Wyloguj</a></p>
  </div>
</footer>
</body>
</html>
