<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista pracowników</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/hr.css}"/>
</head>
<body>
<header>
    <div class="container">
    </div>
</header>
<section class="content">
    <br>
<h1>Lista pracowników</h1>
    <br>
    <br>
<table class="employee-table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Rola</th>
        <th>Imię</th>
        <th>Drugie imię</th>
        <th>Nazwisko</th>
        <th>Data urodzenia</th>
        <th>Pesel</th>
        <th>Login</th>
        <th>Stanowisko</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="employee : ${employees}">
        <td th:text="${employee.employeeId}"></td>
        <td th:text="${employee.role}"></td>
        <td th:text="${employee.firstName}"></td>
        <td th:text="${employee.secondName}"></td>
        <td th:text="${employee.lastName}"></td>
        <td th:text="${employee.birthDate}"></td>
        <td th:text="${employee.pesel}"></td>
        <td th:text="${employee.login}"></td>
        <td th:text="${employee.role}"></td>
    </tr>
    </tbody>
</table>
<br>
    <form th:action="@{http://localhost:8080/hr/employees}" th:object="${idDTO}" method="post">
        <label for="id">ID pracownika: </label><input id="id" name="id" type="text"/><br>
        <input class="btn" type="submit" value="Zwolnij pracownika" />
    </form>


<form th:action="@{http://localhost:8080/hr/}" method="get" >
    <button id="vacationButton" type="submit" class ="btn"> Powrot do menu</button>
</form>
</section>
<footer>
    <div class="container">
        <p><a th:href="@{~/auth/logout}" class="btn">Wyloguj</a></p>
    </div>
</footer>
</body>
</html>
