<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Employees</title>
</head>
<body>
<h1>All Employees</h1>
<table>
    <thead>
    <tr>
        <th>Employee ID</th>
        <th>Role</th>
        <th>First Name</th>
        <th>Second Name</th>
        <th>Last Name</th>
        <th>Birth Date</th>
        <th>Pesel</th>
        <th>Login</th>
        <th>Stanowisko</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="employee : ${employees}">
        <td th:text="${employee.employeeId}"></td>
        <td th:text="${employee.role}"></td>
        <td th:text="${employee.firstName}"></td>
        <td th:text="${employee.secondName}"></td>
        <td th:text="${employee.lastName}"></td>
        <td th:text="${employee.birthDate}"></td>
        <td th:text="${employee.pesel}"></td>
        <td th:text="${employee.login}"></td>
        <td th:text="${employee.role}"></td>
    </tr>
    </tbody>
</table>

<form  th:action="@{http://localhost:8080/hr/employees}" th:object="${idDTO}" method="post">
    <label for="id">ID pracownika: </label><input id="id" name= "id" type="text"/><br>
    <p><input type="submit" value="Zwolnij pracownika" />
</form>


<form th:action="@{http://localhost:8080/hr/}" method="get" >
    <button id="vacationButton" type="submit" class ="btn"> Powrot do menu</button>
</form>
</body>
</html>
