<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pracownik HR</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/hr.css}"/>
</head>
<body>
    <header>
        <div class="container">
            <h1>Zarządzanie użytkownikami</h1>
        </div>
    </header>
    <section class="content">
        <br>
        <section class="functions-section">
            <div class="container">
                <br>
                <form th:action="employees" method="get" >
                    <button id="employeesButton" type="submit" class ="btn"> Zarzadzanie pracownikami</button>
                </form>
                <form th:action="workstations" method="get" >
                    <button id="workstationsButton" type="submit" class ="btn"> Zarzadzanie stanowiskami</button>
                </form>

                <form th:action="customers" method="get" >
                    <button id="customersButton" type="submit" class ="btn"> Zarzadzanie klientami</button>
                </form>

                <form th:action="assignments" method="get" >
                    <button id="assignmentsButton" type="submit" class ="btn"> Zarzadzanie zleceniami</button>
                </form>

                <form th:action="search-vacations" method="get" >
                    <button id="vacationsButton" type="submit" class ="btn"> Kalendarz urlopow - funkcjonalnosc do dodania</button>
                </form>
            </div>
        </section>
    
    <section id="employeesContainer" class="container">

    </section>
    <br>
    <div id="buttonsContainer"></div>
</section>
    <footer>
        <div class="container">
            <p><a href="../index.html" class="btn">Wyloguj</a></p>
        </div>
    </footer>
    <script src="scripts/employees.js" defer></script>
</body>
</html>
