<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Urlopy</title>
  <link rel="stylesheet" type="text/css" th:href="@{/styles/hr.css}"/>
</head>
<body>
<header>
  <div class="container">
  </div>
</header>
<section class="content">
  <br>
  <h1>Lista urlopów</h1>
  <br>
  <form th:action="@{~/hr/leaves}" method="get">
    <p>Urlopy od:</p><input id="start-date" name="startDate" type="date" th:value="${startDate}">
    <p>Urlopy do:</p><input id="end-date" name="endDate" type="date" th:value="${endDate}">
    <br>
    <br>
    <input id="include-all-matching" name="includeAllMatching" type="checkbox" th:checked="${includeAllMatching}">
    <label for="include-all-matching">Uwzglednij urlopy które częsciowo mieszczą się w zakresie dat</label>
    <br>
    <button type="submit" class ="btn">Filtruj</button>
  </form>
  <div class="table-container">
    <table class="employee-table">
    <thead>
    <tr>
      <td>ID urlopu</td>
      <td>Imię</td>
      <td>Nazwisko</td>
      <td>Początek</td>
      <td>Koniec</td>
      <td>Typ</td>
    </tr>
    </thead>
    <tbody>
      <tr th:each="leave : ${vacations}">
        <td th:text="${leave.vacationId}"/>
        <td th:text="${leave.employee.firstName}"/>
        <td th:text="${leave.employee.lastName}"/>
        <td th:text="${leave.beginning}"/>
        <td th:text="${leave.ending}"/>
        <td th:text="${type}"/>
      </tr>
    </tbody>
    </table>
  </div>
  <br>
  <form th:action="@{http://localhost:8080/hr/}" method="get" >
    <button id="vacationButton" type="submit" class ="btn"> Powrót do menu</button>
  </form>
</section>
<footer>
  <div class="container">
    <p><a th:href="@{~/auth/logout}" class="btn">Wyloguj</a></p>
  </div>
</footer>
</body>
</html>
