<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" th:href="@{/styles/emp.css}"/>
  <title>Success request</title>
</head>
<body>
Wniosek zloznoy pomyslnie
<div class="container">
  <br>


  <form th:action="@{http://localhost:8080/hr/}" method="get" >
    <button id="vacationButton" type="submit" class ="btn"> Powrot do menu</button>
  </form>

</div>
</body>
</html>