* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f2f2f2; 
    background-image: url('../images/texture.jpg');
    background-repeat: repeat;
    background-size: 30%;
    font-family: "Trebuchet MS", sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    background-image: url("../images/logo.jpg");
    background-size: 100%;
    height: 170px;
}


h1 {
    font-size: 24px;
}

.content {
    width: 80%;
    background-color: rgb(240, 240, 240);
    text-align: center;
    margin: 0 auto;
    height: auto;
}

.buttons-section {
    text-align: center;
    margin-top: 50px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn {
	background-color:#5c5b5c;
	border-radius:39px;
	border:4px solid #949494;
	display:inline-block;
	cursor:pointer;
	color:#e3e3e3;
	font-family:Trebuchet MS;
	font-size:17px;
	padding:15px 31px;
	text-decoration:none;
	text-shadow:0px 0px 0px #ffffff;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn:hover {
    background-color:#787778;
}


footer {
    background-color: #333;
    color: #434343;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    font-size: 14px;
}
.employee-section {
    font-size: 24px;
}

#databaseContainer {
    display: block;
    border: 1px solid #000000;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    width: 40%;
    justify-content: center;
    max-height: 150px;
    overflow-y: auto;
}
#employeesContainer {
    display: block;
    text-align: center;
    justify-content: center;
}

.record.selected {
    background-color: #808080; 
}
.record {
    cursor: pointer;
}
#employeesContainer {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 

}

#inputFields {
    margin-top: 20px;
}

#inputFields h2{
    margin-bottom: 20px; 
}

#inputFields input {
    display: block;
    margin-bottom: 10px; 
    padding: 5px;
    width: 100%;

}

#inputFields button {
    margin-top: 10px;
}
#positionInput {
    width: 35%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

#backButton3 {
    margin-top: 10px;
}
#confirmButton {
    margin-top: 10px;
}
#employeesComboBox {
    width: 35%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

#positionsComboBox {
    width: 35%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}
#customersComboBox {
    width: 35%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}
#buttonsContainer {
    margin-bottom: 10px;
}
#nameInput {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}
#secNameInput {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}
#lastNameInput {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}
#emailInput {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}
#phoneInput {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}
#bankAccountInput {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}
.content {
    width: 80%;
    background-color: rgb(240, 240, 240);
    text-align: center;
    margin: 0 auto;
    height: auto;
    min-height: 35vh;
    justify-content: center;
}
.submit-button {
	background-color:#5c5b5c;
	border-radius:39px;
	border:4px solid #949494;
	display:inline-block;
	cursor:pointer;
	color:#e3e3e3;
	font-family:Trebuchet MS;
	font-size:17px;
	padding:15px 31px;
	text-decoration:none;
	text-shadow:0px 0px 0px #ffffff;
    margin-right: 10px;
    margin-left: 10px;

}

.submit-button:hover {
    background-color:#787778;
}
.table-container {
    max-height: 300px;
    overflow-y: auto;
}
.employee-table {
    width: 70%;
    border-collapse: collapse;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.employee-table td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.employee-table td:first-child {
    font-weight: bold;
    min-width: 150px;
}

.employee-table td span {
    font-weight: normal;
}
input[type="text"],
input[type="date"]
{
    width: 20%;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}
.workstation-table {
    width: 45%;
    border-collapse: collapse;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.workstation-table td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.workstation-table td:first-child {
    font-weight: bold;
    min-width: 150px;
}

.workstation-table td span {
    font-weight: normal;
}